@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .outer-padding {
      @apply lg:px-32 md:px-16 px-8;
    }
    .container > {
      .opti-content-area,
      .opti-content-area .opti-content-area-item {
        display: contents;
      }
    }
  }
  
.optly-contentLink {
  display: none
}

body {
  font-family: 'Frutiger_LT_Pro';
  font-weight: 300;
  line-height: normal;
  font-style: normal;
  color:#666
}